.Nav {
  background-color: rgb(32, 32, 32);
  box-sizing: border-box;
  height: 6vh;
  width: calc(100vw - (100vw - 100%));
  padding: 0px 2vw;
  min-height: 50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.Nav .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 25px;
  font-weight: bold;
  float: left;
}

.Nav #about {
  color: white;
  font-size: 25px;
  font-weight: bold;
  float: right;
}

.Nav a,
.Nav a:hover,
.Nav a:visited,
.Nav a:active {
  text-decoration: none;
  margin: auto 0px;
  box-sizing: border-box;
}

.Nav img {
  height: 5vh;
  margin-right: 5px;
  min-height: 40px;
}
