.Nav {
  background-color: rgb(32, 32, 32);
  box-sizing: border-box;
  height: 6vh;
  width: calc(100vw - (100vw - 100%));
  padding: 0px 50px;
  min-height: 50px;
  min-width: 650px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.Nav .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 25px;
  font-weight: bold;
  float: left;
}

.Nav #About {
  color: white;
  font-size: 25px;
  font-weight: bold;
  float: right;
}

.Nav #about {
  float: right;
  margin: auto 0px;
}

.Nav a,
.Nav a:hover,
.Nav a:visited,
.Nav a:active {
  text-decoration: none;
  margin: auto 0px;
  box-sizing: border-box;
}

.Nav img {
  height: 5vh;
  margin-right: 5px;
  min-height: 40px;
}

.Nav #icon {
  float: right;
  margin: auto 0px;
  height: 4vh;
  display: none;
}

@media (max-width: 1000px) {
  .Nav #text {
    display: none;
  }
  .Nav #About {
    display: none;
  }
  .Nav #icon {
    display: block;
  }
}
