.button {
  color: white;
  background-color: rgb(255, 1, 0);
  font-size: 17px;
  border-radius: 25px;
  margin: 10px;
}

.vid {
  object-fit: scale-down;
}

.vid .player {
  width: 1000px;
  height: 10000px;
}
