.card {
  margin-left: 12%;
  margin-top: 15%;
  width: 340px;
}
.Result {
  background: whitesmoke;
  width: 100%;
}

h3 {
  height: auto;
  margin-top: 15px;
  color: black;
}
.link {
  width: fit-content;
}
.favorites {
  background-color: lightgray;
  height: 50px;
  width: 420px;
  margin-right: 0px;
  height: auto;
}
.videos {
  display: grid;
  grid-template-columns: repeat(3, 32%);
  width: 100%;
}

.button,
.favButton {
  color: white;
  background-color: rgb(255, 1, 0);
  margin-left: 12%;
  font-size: 17px;
  border-radius: 25px;
  margin-top: 20%;
}
.player {
  margin-top: -15%;
}

.favVid {
  height: 380px;
  width: 100%;
  margin-bottom: 5%;
  margin-top: -7%;
}

.favButton {
  margin-bottom: -15%;
}
main {
  margin-top: 6%;
}

.body {
  display: grid;
  grid-template-columns: 74% 20%;
}
