.card {
  margin-left: 12%;
  margin-top: 15%;
  width: 640px;
}
.Result {
  margin-top: -750px;
  background: whitesmoke;
  border: solid 2px black;
  display: grid;
  grid-template-columns: repeat(2, 48%);
  height: auto;
}

h3 {
  height: auto;
  margin-top: 15px;
  color: black;
}
.link {
  width: fit-content;
}
