.Video-container {
  background: #181818;
}
.Video {
  margin-left: 5%;
  margin-top: 10%;
  width: 60%;
  height: 480px;
  padding-bottom: 20px;
}

.info {
  color: #ffffff;
  font-family: Arial;
  width: 60%;
  margin-left: 5%;
}

.title {
  font-size: 20px;
  font-weight: bolder;
}

.channel {
  font-size: 16px;
  font-weight: bold;
}

.description {
  font-size: 12px;
  white-space: pre-line;
}

.showMoreBtn {
  color: #999999;
  border: 0px;
  background-color: #181818;
  font-family: Arial;
}

.videoPage {
  display: grid;
  grid-template-columns: 4fr 1fr;
}
.videoPage .Video {
  width: 90%;
}
.videoPage details {
  height: 160vh;
  overflow-y: scroll;
}
