.Video-container {
  background: #181818;
  /* height: 900px;
  width: 1600px; */
  margin-top: -850px;
  margin-bottom: 20px;
}
.Video {
  margin-left: 18%;
  margin-top: 10%;
  padding-top: 30px;
  padding-bottom: 20px;
  /* width: 75%; */
  /* height: 550px; */
}
