.Video-container {
  background: whitesmoke;
  /* height: 900px;
  width: 1600px; */
  margin-top: -850px;
  margin-bottom: 20px;
}
.Video {
  margin-left: 18%;
  margin-top: 10%;
  width: 60%;
  height: 550px;
}
