.App {
  display: grid;
  grid-template-rows: 1fr;
  background-color: rgb(24, 24, 24);
  height: 100vh;
  width: calc(100vw - (100vw - 100%));
}
.App main {
  padding: 20px 40px;
  background-color: rgb(24, 24, 24);
  width: calc(100vw - (100vw - 100%));
  box-sizing: border-box;
}
body {
  background-color: rgb(24, 24, 24);
}
